codebleu
sacrebleu
python-dotenv
rich
openai
datasets
tqdm
huggingface-hub
fastapi
python-multipart
uvicorn
pydantic
docker
requests
numpy
sympy
PyYAML
nltk
pandas
anthropic
httpx
matplotlib
plotly
regex
together
tree-sitter
typing_extensions
pillow
aiohttp
Jinja2
hydra-core
orjson
omegaconf
openpyxl